.bodypart{
	width: 1000px;
	height: 1155px;
	background-color: white;
	margin-top: 10px;
	border-radius: 10px;
	position: relative;
}

.bodypart .contentpart{
	width: 980px;
	height: 1130px;
	background-color: rgb(6,33,63);
	border-radius: 10px;
	position: absolute;
	left: 10px;
	top: 14px;
}

.bodypart .contentpart .content{
	width: 965px;
	height: 1115px;
	background-color: white;
	border-radius: 10px;
	margin-top: 7px;
}

.bodypart .contentpart .content h2{
	font-family: 'Miltonian Tattoo', cursive;
	color: rgb(6,33,63);
	padding-top: 25px;
	margin-left: 50px;
	float: left;
}

.bodypart .contentpart .content img{
	clear: both;
	margin-left: 10px;
	width: 450px;
	float: left;
}

.bodypart .contentpart .content p{
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 10px;
	text-align: justify;
	color: black;
	padding-top: 25px;
	padding-right: 20px;
	font-size: 25px;
}

.bodypart .contentpart .content ul{
	font-family: 'Roboto', sans-serif;
	clear: both;
	position: relative;
	left: 10px;
	text-align: justify;
	color: black;
	padding-top: 25px;
	padding-right: 20px;
	font-size: 25px;
}