body{
	background-color:rgb(6,33,63);	
}

.header{
	width: 1000px;
	height: 100px;
}

.header img{
	width: 300px;
	height:100px;
}

.header .sublinks{
	width: 400px;
	height: 90px;
	float: right;
	margin-top: 10px;
}

.header .sublinks a{
	color: white;
	text-decoration: none;
	position: relative;
	top: 25px;
}

.header .sublinks h4{
	color: white;
	float: left;
	position: relative;
	top: 8px;
	left: 15px;
}

.header .sublinks input{
	position: relative;
	top: 30px;
	left: -50px;
	border-radius: 8px;
}

.linkspart{
	width: 1000px;
	height: 40px;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
}

.linkspart a{
	color: rgb(6,33,63);
	text-decoration: none;
	font-size: 160%;
	position: relative;
	top: 8px;
}

.linkspart a:hover{
	color: white;
	background-color: rgb(6,33,63);
	border-radius: 6px;
}

.bottom{
	width: 1000px;
	height: 110px;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;	
}

.bottom img{
	padding-top: 5px;
	border-radius: 10px;
}

.footer{
	width: 1000px;
	height: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 30px;
}

.footer img{
	float: left;
}